<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="ja">
	<head>
		<title>Stories</title>
		<link rel="stylesheet" media="screen" href="../../../public/stylesheets/main.css"                       th:href="'/assets/stylesheets/main.css'"/>
		<link rel="stylesheet" media="screen" href="../../../public/bootstrap/css/bootstrap.min.css"            th:href="'/assets/bootstrap/css/bootstrap.min.css'"/>
		<link rel="stylesheet" media="screen" href="../../../public/bootstrap/css/bootstrap-responsive.min.css" th:href="'/assets/bootstrap/css/bootstrap-responsive.min.css'"/>
		
		<link rel="shortcut icon" type="image/png" href="../../../public/images/favicon.png" th:href="'/assets/images/favicon.png'"/>
		
		<script type="text/javascript" src="../../../public/javascripts/jquery-1.7.1.min.js" th:src="'/assets/javascripts/jquery-1.7.1.min.js'"></script>
		<script type="text/javascript" src="../../../public/bootstrap/js/bootstrap.min.js"   th:src="'/assets/bootstrap/js/bootstrap.min.js'"></script>
	</head>
	<body style="padding-top: 60px;">
		<section>

			<div class="container-fluid">
				<div class="row-fluid" style="text-align: center;">
				
					<h1 class="span4 offset4">Stories</h1>
					
				</div>
			</div>
			
			<div class="container-fluid">
			
				<div class="row-fluid">
					
					<div class="well span4 offset4">
					
						<div th:if="${errors.exists()}">
							<div class="alert alert-error" th:each="error: ${errors}">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<span th:text="${error}">エラーメッセージ</span>
							</div>
						</div>
					
						<form method="POST" action="/auth/authentication" enctype="application/x-www-form-urlencoded" th:object="${form.data()}">
							
							<input name="callback" type="hidden" value="/dash" />
							
							<input id="username" class="input-block-level" type="text" name="name" value="" placeholder="username" th:attr="value=*{get('name')}"/>
							
							<input id="password" class="input-block-level" type="password" name="password" value="" placeholder="password" th:attr="value=*{get('password')}"/>
							
							<div style="text-align: center;"><button type="submit" class="btn btn-primary btn-large" th:text="#{text.login}">ログイン</button></div>
						</form>
					</div>
				</div>
				
				<div class="row-fluid">
					
					<div class="span4 offset4" style="text-align: right;">
						<a href="/users/new/input" th:text="#{text.user_ragistration}">ユーザ作成</a>
					</div>
				</div>
			</div>
			
		</section>
	</body>
</html>