@(form:play.data.Form[views.auth.form.Login])
@main(title = "ログイン") {

	<div class="container-fluid">
		<div class="row-fluid" style="text-align: center;">
		
			<h1 class="span4 offset4">Stories</h1>
			
		</div>
	</div>
	
	<div class="container-fluid">
	
		<div class="row-fluid">
			
			<div class="well span4 offset4">
			
				@if(form.hasErrors) {
					@for(entry <- form.errors.entrySet){
						@for(validationError <- entry.getValue){
						<div class="alert alert-error">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							@validationError.key : @Messages(validationError.message, validationError.arguments)
						</div>
						}
					}
				}
			
				<form method="POST" action="/auth/authentication" enctype="application/x-www-form-urlencoded">
					
					<input name="callback" type="hidden" value="/auth/loggedin" />
					
					<input id="username" class="input-block-level" type="text" name="name" value="@form.data().get("name")" placeholder="username" />
					
					<input id="password" class="input-block-level" type="password" name="password" value="@form.data().get("password")" placeholder="password"/>
					
					<div style="text-align: center;"><button type="submit" class="btn btn-primary btn-large" >ログイン</button></div>
				</form>
			</div>
		</div>
		
		<div class="row-fluid">
			
			<div class="span4 offset4" style="text-align: right;">
				<a href="#">ユーザ作成</a>
			</div>
		</div>
	</div>
}