@(form:play.data.Form[models.domain.model.user.formvalue.UserRegistration])
@main(title = "ユーザ新規作成") {

	<div class="container-fluid">
		<div class="row-fluid" style="text-align: center;">
		
			<h1 class="span4 offset4">ユーザ作成</h1>
			
		</div>
	</div>
	
	<div class="container-fluid">
	
		<div class="row-fluid">
			
			<div class="span4 offset4">
			
				@if(form.hasErrors) {
					@for(entry <- form.errors.entrySet){
						@for(validationError <- entry.getValue){
						<div class="alert alert-error">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							@validationError.key : @Messages(validationError.message, validationError.arguments)
						</div>
						}
					}
				}
			
				<form method="POST" action="/users/new/confirmation" enctype="application/x-www-form-urlencoded">
					<fieldset>
					
						<label>ユーザ名</label>
						<input id="username" class="input-block-level"
							type="text" name="username" value="@form.data().get("username")" placeholder="半角英数字" />
						
						<label>パスワード</label>
						<input id="password" class="input-block-level"
							type="password" name="password" value="@form.data().get("password")" placeholder="半角英数字"/>
						
						<div style="text-align: center;"><button type="submit" class="btn btn-large" >確認</button></div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
}