@(form:play.data.Form[models.domain.model.boxes.formvalue.BoxCreation])(boxes:models.domain.model.boxes.BoxList)

@main(title = "メイン") {

	<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand pull-left" href="/dash">メイン画面</a>
				<ul class="nav pull-right">
					<li class="divider-vertical"></li>
					<li>
						<form class="navbar-form" method="POST" action="/auth/deauthentication">
							<input type="hidden" name="callback" value="/login" />
							<button class="btn btn-link" type="submit">ログアウト</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid">
	
		<div class="row-fluid">
			
			<div class="well">
			
				@if(form.hasErrors) {
					@for(entry <- form.errors.entrySet){
						@for(validationError <- entry.getValue){
						<div class="alert alert-error">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							@validationError.key : @Messages(validationError.message, validationError.arguments)
						</div>
						}
					}
				}
			
				<form class="form-inline" style="margin: 0px;" method="POST" action="/boxes/registry" enctype="application/x-www-form-urlencoded">
					<label>ボックス作成</label>
					<input type="text" name="boxName" value="@form.value().get().boxName" placeholder="作成するボックス名"/>
					<button type="submit" class="btn btn-success" >作成</button>
				</form>
			</div>
		</div>
	
		<div class="row-fluid">
		
			@for(box <- boxes.iterator()){
			<div class="well">
				<label>@box.getBoxName()</label>
				<form class="form-inline" method="POST" action="/cards/registry" enctype="application/x-www-form-urlencoded">
					<input type="hidden" name="boxId" value="@box.getIdentifier()" />
					<input type="text"   name="front"  value="" placeholder="やること" />
					<input type="text"   name="back"   value="" placeholder="完了条件" />
					<input type="text"   name="points" value="" placeholder="ポイント" />
					<button type="submit" class="btn btn-success">登録</button>
				</form>
				@if(!box.isEmpty()){
				<table class="table table-striped">
					<thead>
						<tr>
							<th>タスク</th>
							<th>完了条件</th>
							<th>ポイント</th>
							<th>&nbsp;</th>
						</tr>
					</thead>

					@for(card <- box.iterator()){
					<tr>
						<td>@if(card.isDone()){<del>}@card.getFront()@if(card.isDone()){</del>}</td>
						<td>@if(card.isDone()){<del>}@card.getBack()@if(card.isDone()){</del>}</td>
						<td>@if(card.isDone()){<del>}@card.getPoints()@if(card.isDone()){</del>}</td>
						<td style="text-align: right;">
						@if(!card.isDone()){
							<form style="margin:0px;" method="POST" action="/cards/finished" enctype="application/x-www-form-urlencoded">
								<input type="hidden" name="cardId" value="@card.getIdentifier()" />
								<input type="hidden" name="done"   value="true" />
								<button type="submit" class="btn btn-success">Done</button>
							</form>
						} else{
							<form style="margin:0px;" method="POST" action="/cards/finished" enctype="application/x-www-form-urlencoded">
								<input type="hidden" name="cardId" value="@card.getIdentifier()" />
								<input type="hidden" name="done"   value="false" />
								<button type="submit" class="btn btn-inverse">未完にする</button>
							</form>
						}
						</td>
					</tr>
					}
				</table>
				}
				
				@defining(box.getCompletedPoint().toDouble / box.getTotalPoint().toDouble * 100){ percent =>
				<label>やり遂げ具合 @percent.toInt % (@box.getCompletedPoint() / @box.getTotalPoint())</label>
				<div class="progress">
					<div class="bar" style="width: @percent%;"></div>
				</div>
				}
			</div>
			}
		</div>
	</div>
}