<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="ja">
	<head>
		<title>Stories</title>
		<link rel="stylesheet" media="screen" href="../../public/stylesheets/main.css"                       th:href="'/assets/stylesheets/main.css'"/>
		<link rel="stylesheet" media="screen" href="../../public/bootstrap/css/bootstrap.min.css"            th:href="'/assets/bootstrap/css/bootstrap.min.css'"/>
		<link rel="stylesheet" media="screen" href="../../public/bootstrap/css/bootstrap-responsive.min.css" th:href="'/assets/bootstrap/css/bootstrap-responsive.min.css'"/>
		
		<link rel="shortcut icon" type="image/png" href="../../public/images/favicon.png" th:href="'/assets/images/favicon.png'"/>
		
		<script type="text/javascript" src="../../public/javascripts/jquery-1.7.1.min.js" th:src="'/assets/javascripts/jquery-1.7.1.min.js'"></script>
		<script type="text/javascript" src="../../public/bootstrap/js/bootstrap.min.js"   th:src="'/assets/bootstrap/js/bootstrap.min.js'"></script>
	</head>
	<body style="padding-top: 60px;">
		<section layout:fragment="content">コンテンツ</section>
	</body>
</html>
